.buttonon{
	-fx-background-color: #3082E2;
	-fx-background-radius: 2px;
	-fx-border-color: #3082E2;
	-fx-text-fill: white;
	-fx-border-radius: 2px;
}

.buttonoff{
	-fx-background-color: white;
	-fx-border-color: #3082E2;
	-fx-text-fill: #3082E2;
	-fx-border-radius: 2px;	
}

.fondo{ 
	-fx-background-image: url("blueforest.jpg");
	-fx-background-size: 100%;
	-fx-background-repeat: no-repeat ;
	
}